.p-wrap-left{
    
    overflow:hidden;
    
    clear: both;
    padding: 10px;
    border-bottom: 2px solid black;
    
}

.p-wrap-left img{
    
    float: left;
}

.p-wrap-right{
    
    overflow:hidden;
    
    clear: both;
    padding: 10px;
    border-bottom: 2px solid black;
    
}

.p-wrap-right img{
    
    float: right;
    
}

.p-wrap-right p{
    
    /padding: 10px;
    text-align: right;
}

img{
    width: 40%;
    height: 40%;
}