---
import Navbar from "@components/UI/Navbar.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="The Loney Dev - Michael Loney">
  <!-- Top Section -->
  <div
    class="h-screen bg-gradient-to-b from-gray-50 from-[88%] to-simply-purple to-90%"
  >
    <Navbar />
  </div>
</Layout>
