<div class="container mx-auto">
  <h1 class="text-3xl md:text-5xl text-center"><b>Contact Me</b></h1>

  <br />

  <div class="text-center">
    You can contact me either through me email or using the form below and I'll
    get back to you as soon as I can
  </div>

  <br />

  <div class="flex flex-row justify-center">
    <form class="p-4 rounded-md bg-gray-500 text-simply-purple">
      <div class="flex flex-row">
        <label class="pr-2">Your email:</label>
        <input
          id="contact-email"
          name="contact-email"
          type="email"
          class="rounded-sm"
        />
      </div>

      <br />

      <div class="flex flex-row">
        <label class="pr-2">Message:</label>
        <textarea id="contact-email" name="contact-email" class="rounded-sm"
        ></textarea>
      </div>
    </form>
  </div>
</div>
