<div class="container mx-auto pt-16">
  <div class="flex flex-row gap-8 h-24 justify-center flex-wrap">
    <p class="text-xl self-center border-r-black border-r-2 pr-8">
      <b>My tech</b>
    </p>
    <img
      class="h-full"
      src="/src/images/icons/Java.svg"
      decoding="async"
      loading="lazy"
      alt="Logo of the dart programming language"
    />
    <img
      class="h-full"
      src="/src/images/icons/Javascript.svg"
      decoding="async"
      loading="lazy"
      alt="Logo of the dart programming language"
    />
    <img
      class="h-full"
      src="/src/images/icons/svelte.svg"
      decoding="async"
      loading="lazy"
      alt="Logo of the dart programming language"
    />
    <img
      class="h-full"
      src="/src/images/icons/flutter.svg"
      decoding="async"
      loading="lazy"
      alt="Logo of the dart programming language"
    />
    <img
      class="h-full"
      src="/src/images/icons/dart.svg"
      decoding="async"
      loading="lazy"
      alt="Logo of the dart programming language"
    />
  </div>
</div>
