---

---

<nav class="drop-shadow bg-white flex flex-row justify-between">
  <div class="p-2 text-xl">
    <b>Loney.Dev</b>
  </div>
  <ul class="flex p-2 divide-x-2 text-lg">
    <li class="px-2">
      <a href="/" class="hover:red-700">
        <b>Home</b>
      </a>
    </li>
    <li class="px-2">
      <b>About</b>
    </li>
    <li class="px-2">
      <b> Projects</b>
    </li>
    <li class="px-2">
      <b>Contact me</b>
    </li>
  </ul>
</nav>
