---
import { Icon } from "astro-icon";
---

<nav class="drop-shadow bg-white flex flex-row h-16 sticky p-4">
  <div class="text-3xl">
    <b>Loney.Dev</b>
  </div>

  <div class="flex flex-grow"></div>

  <ul class="hidden md:flex md:flex-row gap-4 text-2xl">
    <a href="/">
      <b>Home</b>
    </a>

    <a href="/about/">
      <b>About me</b>
    </a>

    <a href="/projects/">
      <b>Projects</b>
    </a>

    <a href="/contact/">
      <b>Contact</b>
    </a>
  </ul>

  <ul class="md:hidden flex flex-row-reverse gap-2 text-2xl">
    <a href="/contact/">
      <Icon name="mdi:email-outline" class="h-full" />
    </a>

    <a href="/projects/">
      <Icon name="mdi:folder-multiple-outline" class="h-full" />
    </a>

    <a href="/about/">
      <Icon name="mdi:information-outline" class="h-full" />
    </a>

    <a href="/">
      <Icon name="mdi:home-outline" class="h-full" />
    </a>
  </ul>
</nav>
